{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card todo-table">
                <div class="card-header bg-primary text-white">
                    {{ name }}'s Todo List [{{ todos|length }}]
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Action</th>
                                <th>Action</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in todos %}
                            <tr>
                                <td>{{ forloop.counter }}. {{todo.task}}</td>
                                <td><a href="{% url 'delete_todo' todo.id %}" class="btn btn-danger delete-button">Delete</a></td>

                                <td><a href="{% url 'update_todo' todo.id %}" class="btn btn-success delete-button"> Update</a></td>

                                <td><a href="{% url 'mark_complete' todo.id %}" class="btn btn-success delete-button"> Mark Complete</a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{% url 'add_todo' %}" class="btn btn-primary add-button">Add Task</a>
                </div>
            </div>
            <br><br>
            <div class="card todo-table">
                <div class="card-header bg-primary text-white">
                    Completed Tasks
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in todos2 %}
                            <tr>
                                <td>{{ forloop.counter }}. {{todo.task}}</td>
                                <td><a href="{% url 'delete_todo' todo.id %}" class="btn btn-danger delete-button">Delete</a></td>
                                <td><a href="{% url 'update_todo' todo.id %}" class="btn btn-success delete-button"> Update</a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}